{% load browserid %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}ChoreScore{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css' />
    </head>
    <body>
        {% browserid_info %}
        <nav class='navbar navbar-default navbar-static-top' role='navigation'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href='{% url 'chore_list' %}' class='navbar-brand'>ChoreScore</a>
            </div>
            <div class='collapse navbar-collapse' id='top-nav-collapse'>
                <ul class="nav navbar-nav navbar-right">
                    <li>{% browserid_logout text='Log out' %}</li>
                </ul>
            </div>
        </nav>
        {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"
                    {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class='container'>
            {% block main %}
            {% endblock %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% browserid_js %}
    </body>
</html>
