{% load browserid %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}ChoreScore{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% browserid_info %}
        <div class='nav'>
            <a href='{% url 'chore_list' %}'>Chore List</a>
            <a href='{% url 'scoreboard' %}'>Scoreboard</a>
            {% browserid_logout text='Log out' %}
        </div>
        {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"
                    {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block main %}
        {% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% browserid_js %}
    </body>
</html>
