{% extends "base.html" %}
{% block main %}
    <div class='row'>
        <div class='col-sm-4 col-md-3'>
            <h1>Scoreboard</h1>
            <ol>
                {% for entry in scoreboard %}
                    <li> <b>{{entry.score}}</b> {{entry}} </li>
                {% endfor %}
            </ol>
            <h4>Last 10 Chores Done</h4>
            <ol>
                {% for entry in last10 %}
                    <li>
                        <b>{{entry.chore.name}}</b> by {{entry.user}} for
                        <b>{{entry.chore.score}}</b> points at {{entry.performed_at}}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class='col-sm-8 col-md-9'>
            <h1>Chore List</h1>
            <ul>
                {% for chore in chores %}
                    <li>
                    <form method='post' action='{% url 'mark_done' chore.id %}'
                        style='display:inline-block;'>
                        {% csrf_token %}
                        <button type='submit'>Mark Done</button>
                    </form>
                    <b>{{chore.score}}</b> {{chore.name}} (last done {{chore.last_performed}})
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
