{% extends "base.html" %}
{% block main %}
    <h1>Scoreboard</h1>
    <ol>
        {% for entry in scoreboard %}
            <li> <b>{{entry.score}}</b> {{entry}} </li>
        {% endfor %}
    </ol>
    <h2>Last 10 Chores Done</h2>
    <ol>
        {% for entry in last10 %}
            <li>
                <b>{{entry.chore.name}}</b> by {{entry.user}} for
                <b>{{entry.chore.score}}</b> points at {{entry.performed_at}}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
